ol li {
	list-style: none;
}

.edn-cose-sign1 { font-family: monospace; }
.edn-cose-sign1 * { margin: 0; padding: 0; } 
.edn-cose-sign1 dt { padding-right: 8px;}
.edn-cose-sign1 dt, dd { display: inline-block; padding-left: 8px; }
.edn-cose-sign1 ol li {
	list-style: none;
	padding-left: 8px;
}

.decoded-nested { margin: 8px; padding-top: 8px; }